.apresentacao{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    align-items: center;
}

.apresentacao__titulo{
    font-size: 3rem;
    padding: 3rem 0;
}

.apresentacao__texto{
    padding-bottom: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    line-height: 1.3;
}

.apresentacao__img{
    width: 40vw;
    height: auto;
    margin-bottom: 3rem;
    border: 2px solid var(--cor-fonte);
    border-radius: 360px;
}