.rodape{
    background-color: var(--cor-principal-dois);
    color: var(--cor-fonte);
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

