.saber-mais{
    background-color: var(--cor-principal);
    color: var(--cor-fonte);
    padding: 4rem;
    display: flex;
    flex-direction: column;
}

.saber-mais__titulo{
    font-size: 2.5rem;
    font-weight: 600;
}

.saber-mais__texto{
    padding-top: 1.5rem;
    font-size: 1.5rem;
}

.saber-mais__lista{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1.5rem;
}

.botao{
    display: flex;
    width: 15rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte);
    font-size: 1.375rem;
    background-color: transparent;
    color: var(--cor-fonte);
    border: 3px solid var(--cor-fonte);
    border-radius: 16px;
    cursor: pointer;
    text-decoration: none;
}

.botao:hover{
    background-color: var(--cor-principal-dois);
    transition: 0.3s;
}
