.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    height: 5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-subtitulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

#muda-cor{
    background-color: blue;
    color: white;
    padding: 10px;
    border: 2px  solid black;
    cursor: pointer;
}

.ex2{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 0.5rem;
    justify-content: space-around;
    cursor: pointer;
    background-color: green;
}


#caixa-mudar-tudo{
    background-color: blueviolet;
    color: white;
    padding: 0.5rem;
    border: 2px dashed white;
}