* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f36767ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80vw;
    height: 88vh;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}

.texto-container{
    margin: 6em;
}

.titulo-container{
    font-size: 2em;
    font-weight: 600;
    text-align: left;
    width: 30vw;
}

.register-container{
    font-size: 1.3em;
    padding-right: 15em;
    text-align: left;
}

.container-titulo-bold{
    color: #f36767ff;
    font-weight: bolder;
}

.register-container-link{
    text-decoration: none;
    color:  #f36767ff;
}


.sign-in-container {
    margin: 60px;

}

.sign-in-container form {
    margin-bottom: 30px;
}

.sign-in-container label {
    display: block;
    margin-bottom: 5px;
}

.sign-in-container input[type="email"],
.sign-in-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(237, 126, 126);
    margin-bottom: 20px;
}

.sign-in-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0.5px solid rgb(237, 126, 126);
    background-color: #f36767ff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

.sign-in-container button[type="submit"]:hover {
    background-color:rgb(237, 126, 126);
    color: #ffffff;
}

.options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.options a {
    color: #f36767ff;
    text-decoration: none;
    margin-bottom: 10em;
}

.options button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0.5px solid rgb(237, 126, 126);
    background-color: transparent;
    color: #f36767ff;
    font-weight: bold;
    cursor: pointer;
}

.options button:hover {
    background-color:rgb(237, 126, 126);
    color: #ffffff;;
}